<?php

$mail_id = $_GET['id'];

$_inbox = "select
	     group_concat(receive_user.id SEPARATOR ',') as receive_id, 
	     sender_user.email as sender_email,
	     group_concat(receive_user.email SEPARATOR ',') as receive_email, 
	     m.subject as subject,
	     m.content as content,
	     m.created_at
	   from
	     Users sender_user,
	     Users receive_user,
	     Mails m,
	     Recipients r
	   where
	     m.user_id = sender_user.id and
	     r.mail_id = m.id and
	     r.user_id = receive_user.id and
	     m.id = '" . $mail_id . "'";


$_mail = mysql_fetch_assoc(mysql_query($_inbox));
$receive_emails = explode(',', $_mail['receive_email']);

$receive_ids = explode(',', $_mail['receive_id']);
if (!in_array($_SESSION['id'], $receive_ids)) {
	include('../views/layouts/404.html');
	return;
}

$_file_result = mysql_query("select * from Files where mail_id='$mail_id'");
for ($_mail_files = array(); $row = mysql_fetch_assoc($_file_result);)
	array_push($_mail_files, $row);
?>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
	<blockquote>
	  <p><?php echo $_mail['subject']; ?></p>
	</blockquote>
	<code>Gönderen:</code>
	<?php echo $_mail['sender_email']; ?>
	<br/>
	<code>Alıcı:</code>
	<?php 

	    foreach ($receive_emails as $receive_email) {
		$m = mysql_fetch_assoc(mysql_query("select
						    	m.id as id,
						        concat(u.first_name, ' ', u.last_name) as full_name,
						 	m.name as name
						    from
						     	Recipients r,
						     	Users u,
						     	Mark_States m
						    where
						     	r.user_id=u.id and 
						     	r.mark_state_id = m.id and
						     	r.mail_id='$mail_id' and
						     	u.email='$receive_email'"));
	    if ($m['id'] == 1)
		echo "<code class='label label-danger' style='margin-left:1px;'>" .
		     $m['full_name'] . "($receive_email) [" . $m['name'] . "]" .
		     "</code> ";
	    else
		echo "<code class='label label-success' style='margin-left:1px;'>" .
		     $m['full_name'] . "($receive_email) [" . $m['name'] . "]" .
		     "</code> ";
	    }
	?>
    </h3>
  </div>
  <div class="panel-body">
	<?php echo $_mail['content']; ?>
  </div>
  <div class="panel-footer">.
    <div class="pull-right"><?php echo $_mail['created_at']; ?></div>
    <ul class='list-group'>
    <?php
      foreach ($_mail_files as $file) {
	echo "<li class='list-group-item'>";
	$extension = pathinfo($file['name'])['extension'];
	if (in_array($extension, array('jpeg', 'jpg', 'png')))
		echo "<img class='img-rounded'
		     src='" . $file['name'] . "' width='50' height='50'/>";
	else
		echo "<div class='img-rounded fa fa-file-text fa-4x'/></div>";
	echo "<a class='pull-right fa fa-download fa-3x'
		download href='" . $file['name'] . "'/>
	     </a>";
	echo "</li>";
      }
     ?>
     </ul>
  </div>
</div>
<form class="login-form" action="<?php echo $PATH; ?>/controllers/user/inmailmarkupdate.php" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
  <input type="hidden" value="<?php echo $mail_id; ?>" id="mail_id" name="mail_id"/>
 <?php  if (isset($_SESSION['superuser']))
	echo "<button type='submit' class='btn btn-primary'>Onayla</button>";
 ?>
</form>

