
/**
 * Email Contacts
 */
.selectize-control.contacts .selectize-input [data-value] .email {
	opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
	margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
	content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
	content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
	font-size: 12px;
	display: block;
	opacity: 0.5;
}
.selectize-dropdown,
.selectize-dropdown .form-control { background: #f8f8f8; }
.selectize-control.contacts .selectize-dropdown .label { color: gray; }
.selectize-control.contacts .selectize-dropdown .active .label { color: white; }
