<?php
$id = $_GET['id'];
$notice = mysql_fetch_assoc(mysql_query("select * from Notices where id='$id'"));
?>
<input type="text" placeholder="<?php echo $notice['name']; ?>" class="form-control" size="50" name="name" id="name" disabled/>



<form action="<?php echo $PATH; ?>/controllers/admin/noticedel.php" method="post">
<a class="btn btn-primary"
href="<?php echo $PATH; ?>/admin/index.php?yield=noticeedit&id=<?php echo $id; ?>">
Düzenle
</a>
<input type="hidden" value="<?php echo $id; ?>" id="id" name="id"/>
<input type="submit" class="btn btn-danger" value="sil"
onClick="return confirm('Bu duyuruyu silmek istediğinizden emin misiniz?');"/>
</form>
