<?php
$id = $_GET['id'];

$user = mysql_fetch_assoc(mysql_query("select * from Users where id='$id'"));

$_user_type_id_result = mysql_query("select * from User_Types");
for ($_user_type_ids = array(); $row = mysql_fetch_assoc($_user_type_id_result);)
	array_push($_user_type_ids, $row);

$_department_result = mysql_query("select * from Departments");
for ($_departments = array(); $row = mysql_fetch_assoc($_department_result);)
	array_push($_departments, $row);

$_gender_result = mysql_query("select * from Genders");
for ($_genders = array(); $row = mysql_fetch_assoc($_gender_result);)
	array_push($_genders, $row);
?>

<form class="login-form" action="<?php echo $PATH; ?>/controllers/admin/userupdate.php" accept-charset="UTF-8" method="post">
  <input type="hidden" value="<?php echo $user['id']; ?>" name="id" id="id"/>
  <input type="text" value="<?php echo $user['first_name']; ?>" class="form-control" size="50" name="first_name" id="first_name" />
  <input type="text" value="<?php echo $user['last_name']; ?>" class="form-control" size="50" name="last_name" id="last_name" />
  <input type="text" value="<?php echo $user['email']; ?>" class="form-control" size="50" name="email" id="email" />
  <input type="text" value="<?php echo $user['password']; ?>" class="form-control" size="50" name="password" id="password" />
<select class="form-control" id="user_type_id" name="user_type_id">
<?php
	foreach ($_user_type_ids as $user_type_id)
		if ($user_type_id['id'] == $user['user_type_id'])
		echo "<option value='" . $user_type_id['id'] . "' selected>" . $user_type_id['name'] . "</option>";
		else
		echo "<option value='" . $user_type_id['id'] . "' >" . $user_type_id['name'] . "</option>";
?>
</select>
<select class="form-control" id="department_id" name="department_id">
<?php
	foreach ($_departments as $department)
		if ($department['id'] == $user['department_id'])
		echo "<option value='" . $department['id'] . "' selected>" . $department['name'] . "</option>";
		else
		echo "<option value='" . $department['id'] . "' >" . $department['name'] . "</option>";
?>
</select>
<select class="form-control" id="gender_id" name="gender_id">
<?php
	foreach ($_genders as $gender)
		if ($gender['id'] == $user['gender_id'])
		echo "<option value='" . $gender['id'] . "' selected>" . $gender['name'] . "</option>";
		else
		echo "<option value='" . $gender['id'] . "' >" . $gender['name'] . "</option>";
?>
</select>

  <button type="submit" class="btn btn-primary">Güncelle</button>
</form> 
